.weather{
    color:red;
    background: yellow;
}

.logo{
    border-radius: 5px;
    color:blue;
    transition: color 1s linear;
}
.logo:hover{
    color:red;
}
.card{
    height: 300px;
    width: 200px;
    overflow: hidden;
    transition: transform 0.5s linear;
    transform:scale(1);
}

.card:hover {
    z-index:1000;
    transform:scale(1.33);
}
.card-content{
    height: 100px;
}
.card-content:hover{
    height:150px;
}
.card-image {
    height: 150px;
    overflow: hidden;
}


